@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.container {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    background: #eee;
    height: 1px;
    border: 0;
}
.container {
    width: 800px;
    display: block;
    margin: 0 auto;
}
.picture {
    width: 100%;
}
.text {
    text-align: right;
    padding: 20px;
    margin-top: 100px;
    font-weight: bold;
}
.main-info {
    margin-top: 50px;
}
.main-info-title p {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    /* background-color: #eee; */
}
.dateOne {
    width: 500px;
    height: 100px;
    background-color: #eee;
    margin: 0 0 50px 0;
}
.lyrics {
    width: 800px;
    height: 1000px;
    background-color: #eee;
    margin: 50px 0 50px 0;
}
.groomBride {
    width: 800px;
    height: 200px;
    background-color: #eee;
    margin: 50px 0 50px 0;
}
.dateLocation {
    width: 800px;
    height: 200px;
    background-color: #eee;
    margin: 50px 0 50px 0;
}
.thanksTo {
    width: 800px;
    height: 1000px;
    background-color: #eee;
    margin: 50px 0 50px 0;
}
.contact {
    width: 800px;
    height: 300px;
    background-color: #eee;
    margin: 50px 0;
    text-align: center;
}
.contactSections {
    display: flex;
    justify-content: space-evenly;
    /* background-color: ; */
    margin-top: 30px;
}
.contactGroom {
    width: 300px;
    height: 200px;
    background-color: #d1d1d1;
}
.contactBride {
    width: 300px;
    height: 200px;
    background-color: #d1d1d1;
}
.account {
    width: 800px;
    height: 300px;
    background-color: #eee;
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accountGroom {
    width: 600px;
    height: 40px;
    background-color: lightpink;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 10px;
}
.accountBride {
    width: 600px;
    height: 40px;
    background-color: lightpink;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 10px;
}
.calendar {
    width: 768px;
    height: 96%;
    margin: 3rem auto auto auto;
}
.divide-line {
    margin: 3rem 3rem;
    border: 0.7px solid rgb(218, 218, 218);
}
.title p {
    font-size: 1.7rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.8rem;
    text-align: center;
}
.desc {
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2rem;
}
.day-row {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
}
.date-column {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}
.week1 {
    margin-right: 1rem;
}
.week1,
.week2,
.week3,
.week4,
.week5 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8%;
}
.week5 {
    margin-right: 8rem;
}
.num6 {
    color: white;
}
#Dday {
    z-index: -1;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    transform: translate(-0.7rem, -2.5rem);
    background-color: #a588bb;
    text-align: center;
}
.sun {
    color: rgba(225, 10, 57, 0.76);
    font-weight: bold;
}
.counting {
    text-align: center;
    font-size: 1.5rem;
}
.counting span {
    color: #c3a0df;
}
#map {
    width: 800px;
    height: 800px;
    background-color: #eee;
    margin: 50px 0 50px 0;
}
.transport {
    width: 800px;
    height: 800px;
    background-color: #eee;
    margin: 50px 0 50px 0;
}
.carousel-wrapper {
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin: 50px 0 10px 0;
    position: relative;
}
.carousel-wrapper .carousel {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
}
.carousel img {
    width: 800px;
    height: 550px;
}
.rights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
